.image2 {
  position: absolute;
  width: 45;
  height: 45;
  top: 8%;
  left: 55%;
  margin-top: -50px;
  margin-left: -50px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}